<div id="modal-area">
  <img id="modal_image" alt="" /><p id="modal_text_target"></p>
<a href="" id="to-org"><div id="detail"><p>Area Detail</p></div></a>
<%= link_to favorite_path, method: :post, remote: true, id: "favorite_link" do %>
<i class="fa fa-heart fa-2x" style="color: #607D8B; float: right;" id="modal-like"></i>
<% end %>
</div>

