// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.liked {
  color: #E91E63 !important;
}

.sign-out-button{
	margin-top: 15px;
	margin-right: 15px;
}

.go-home-button{
	margin-top: 15px;
	margin-right: 1px;
}